<?xml version="1.0"?>
<configuration>
  
	<configSections>
		<section name="netHttpService" type="DialectSoftware.Http.Services.Configuration.TemplateConfigurationHandler, DialectSoftware.Http.NetHttpService" allowLocation="true" allowDefinition="Everywhere"/>
    <section name="cachingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings,Microsoft.Practices.EnterpriseLibrary.Caching"/>
    <section name="enterpriseCaching" type="Enterprise.Caching.Configuration.CacheProviderConfigurationHandler, Enterprise.Caching, Version=1.0.0.0, Culture=neutral, PublicKeyToken=a7e602dd6a6cf547"/>
  </configSections>
  
  <appSettings>
  </appSettings >
  
	<connectionStrings/>
  
  <cachingConfiguration defaultCacheManager="Default Cache Manager">
    <backingStores>
      <add name="inMemory" type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.NullBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching"/>
      <add name="inIsolatedStorage" partitionName="REST" type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.IsolatedStorageBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching"/>
    </backingStores>
    <cacheManagers>
      <add name="Default Cache Manager" expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000" numberToRemoveWhenScavenging="10" backingStoreName="inMemory"/>
      <add name="memManager" expirationPollFrequencyInSeconds="6" maximumElementsInCacheBeforeScavenging="2" numberToRemoveWhenScavenging="10" backingStoreName="inMemory"/>
      <add name="isolatedStorageManager" expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="10000" numberToRemoveWhenScavenging="100" backingStoreName="inIsolatedStorage"/>
    </cacheManagers>
  </cachingConfiguration>

  <enterpriseCaching>
    <providers>
      <provider name="RESTCacheProvider" type="EnterpriseLibraryCacheProvider, EnterpriseLibraryCacheProvider, Version=1.0.0.0, Culture=neutral, PublicKeyToken=a7e602dd6a6cf547" extension="EnterpriseLibraryCacheProviderExtensionElement, EnterpriseLibraryCacheProvider, Version=1.0.0.0, Culture=neutral, PublicKeyToken=a7e602dd6a6cf547">
        <cacheManager name="memManager"></cacheManager>
      </provider>
    </providers>
  </enterpriseCaching>
  
	<netHttpService baseUri="http://localhost:8080/">
     <encoders defaultEncoder="DialectSoftware.Http.Services.Encoders.StringEncoder, DialectSoftware.Http.NetHttpService.Encoders">
      <encoder name="application/xml" type="DialectSoftware.Http.Services.Encoders.XmlEncoder, DialectSoftware.Http.NetHttpService.Encoders"></encoder>
      <encoder name="text/plain" type="DialectSoftware.Http.Services.Encoders.StringEncoder, DialectSoftware.Http.NetHttpService.Encoders"></encoder>
    </encoders>
		<templates>
		</templates>
	</netHttpService>
  
  <system.serviceModel>
    <services>
      <service name="DialectSoftware.Http.Services.NetHttpService" behaviorConfiguration="default">
        <host >
          <baseAddresses>
            <add baseAddress ="http://localhost:8080/"/>
          </baseAddresses>
        </host>
        <!--
          <endpoint binding ="webHttpBinding" 
                  address="/channels"
                  behaviorConfiguration ="webBehavior"
                  bindingConfiguration ="WebHttpBinding"
                  contract="DialectSoftware.Http.Services.INetHttpService">
          
        </endpoint>
        -->
        <endpoint address="" binding="customBinding" behaviorConfiguration="webBehavior" bindingConfiguration="customHttpBinding" contract="DialectSoftware.Http.Services.INetHttpService">

        </endpoint>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="webBehavior">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name ="default">
          <serviceMetadata httpGetEnabled="true" httpGetUrl="wsdl"/>
          <serviceDebug httpHelpPageEnabled="false" httpsHelpPageEnabled="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <webHttpBinding>
        <binding name="webBinding"></binding>
      </webHttpBinding>
      <customBinding>
        <binding name="customHttpBinding" closeTimeout="00:00:30" openTimeout="00:00:30" receiveTimeout="00:00:30" sendTimeout="00:00:30">
          <webMessageEncoding/>
          <httpTransport useDefaultWebProxy="true" maxBufferSize="2147483647" hostNameComparisonMode="StrongWildcard" bypassProxyOnLocal="true" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" transferMode="Buffered" allowCookies="false" keepAliveEnabled="false" authenticationScheme="Anonymous" proxyAuthenticationScheme="Anonymous" manualAddressing="true">
          </httpTransport>
        </binding>
      </customBinding>
    </bindings>
  </system.serviceModel>
  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
